n8n_workflow_offline_sync.json
{
  "name": "PWA Offline Data Sync",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "path": "offline-sync",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        400,
        300
      ],
      "webhookId": "offline-sync-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.body.action}}",
              "operation": "equal",
              "value2": "addLegend"
            }
          ]
        }
      },
      "name": "If: Action is 'addLegend'",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        300
      ]
    },
    {
      "parameters": {
        "sheetId": "YOUR_SHEET_ID",
        "range": "Legends!A:C",
        "options": {
          "valueInputMode": "USER_ENTERED"
        },
        "fields": {
          "name": "={{$json.body.data.name}}",
          "location": "={{$json.body.data.location}}",
          "story": "={{$json.body.data.story}}"
        }
      },
      "name": "Store Legend Data",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        800,
        200
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIALS_ID",
          "name": "Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "subscription": "={{$json.body.subscription}}",
        "payload": "{\"title\":\"Data Synced!\",\"body\":\"Your offline data has been successfully synced to the archives.\"}",
        "options": {}
      },
      "name": "Send Sync Confirmation",
      "type": "n8n-nodes-base.webPush",
      "typeVersion": 1,
      "position": [
        1000,
        200
      ],
      "credentials": {
        "webPushVapid": {
          "id": "YOUR_VAPID_CREDENTIALS_ID",
          "name": "VAPID Credentials"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If: Action is 'addLegend'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If: Action is 'addLegend'": {
      "main": [
        [
          {
            "node": "Store Legend Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Legend Data": {
      "main": [
        [
          {
            "node": "Send Sync Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "id": "3"
}