n8n_workflow_broadcast_notification.json
{
  "name": "PWA Broadcast Notification",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "sheetId": "YOUR_SHEET_ID",
        "range": "B:B",
        "options": {}
      },
      "name": "Fetch Subscriptions",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        450,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIALS_ID",
          "name": "Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "name": "Split in Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "subscription": "={{JSON.parse($json.subscription)}}",
        "payload": "{\"title\":\"New Discovery!\",\"body\":\"A new artifact has been added to the Protokół Kolberg 2.0 archives. Open the app to see it now!\"}",
        "options": {}
      },
      "name": "Send Broadcast Notification",
      "type": "n8n-nodes-base.webPush",
      "typeVersion": 1,
      "position": [
        850,
        300
      ],
      "credentials": {
        "webPushVapid": {
          "id": "YOUR_VAPID_CREDENTIALS_ID",
          "name": "VAPID Credentials"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Subscriptions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Subscriptions": {
      "main": [
        [
          {
            "node": "Split in Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split in Batches": {
      "main": [
        [
          {
            "node": "Send Broadcast Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "id": "2"
}